.navBar {
  // padding-top: 10em;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: bold;

  .searchBox {
    // transform: translate(-10%, -10%);
    background: #2f3640;
    height: 30px;
    border-radius: 40px;
    border: 2px solid white;
    width: 200px;
    display: flex;
  }

  .searchBox > .searchInput {
    width: 200px;
    padding: 0 6px;
  }

  .searchBox > .searchButton {
    background: white;
    color: #565758;
  }

  .searchButton {
    margin: 3px 2px 0 0;
    color: rgb(115, 116, 117);
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  .searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 12px;
    transition: 0.4s;
    line-height: 30px;

    // padding-top: 10px;
  }

  // @media screen and (max-width: 620px) {
  //   .searchBox:hover > .searchInput {
  //     width: 150px;
  //     padding: 0 6px;
  //   }
  // }
  .left-navbar {
    display: flex;
    padding-left: 3em;
    gap: 2em;
    align-items: center;
  }
  .right-navbar {
    display: flex;
    padding-right: 3em;
    gap: 2em;
    align-items: center;
  }
  ///logo

  /* Style the rainbow text element. */
  .rainbow-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1.7em;
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #ca4246;
    background-color: #ca4246;
    background: conic-gradient(
      #ca4246 16.666%,
      #e16541 16.666%,
      #e16541 33.333%,
      #f18f43 33.333%,
      #f18f43 50%,
      #8b9862 50%,
      #8b9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #a7489b 83.333%
    );

    /* Set thee background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.5s ease forwards;

    cursor: pointer;
  }

  /* Add animation on hover. */
  .rainbow-text:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }

  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }

  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }

  .logo {
    transform: translate(0%, -8%);
  }

  /*effect-underline*/
  .effect-underline {
    position: relative;
    padding: 2px;
    transition: 0.2s;
  }

  .effect-underline::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2.5px;
    left: 50%;
    position: absolute;
    background: #16a085;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .effect-underline:hover::after {
    width: 100%;
    left: 0;
  }

  //
  .icon-crown-nav {
    font-size: 15px;
    transform: rotate(45deg);
    margin-bottom: 1em;
    color: #cc5500;
  }

  ////// responsive
  .bars {
    display: none;
  }
  @media screen and (max-width: 480px) {
    font-size: medium;
    padding-left: 0em;
    .pc {
      display: none;
    }
    .right-navbar {
      display: none;
    }
    .bars {
      display: block;
    }
  }
}
