.navBar {
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: bold;

  .searchBox {
    // transform: translate(-10%, -10%);
    background: #2f3640;
    height: 30px;
    border-radius: 40px;
    border: 2px solid white;
    width: 200px;
    display: flex;
  }

  .searchBox > .searchInput {
    width: 200px;
    padding: 0 6px;
  }

  .searchBox > .searchButton {
    background: white;
    color: #565758;
  }

  .searchButton {
    margin: 3px 2px 0 0;
    color: rgb(115, 116, 117);
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  .searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 12px;
    transition: 0.4s;
    line-height: 30px;

    // padding-top: 10px;
  }

  // @media screen and (max-width: 620px) {
  //   .searchBox:hover > .searchInput {
  //     width: 150px;
  //     padding: 0 6px;
  //   }
  // }
  .left-navbar {
    display: flex;
    padding-left: 3em;
    gap: 2em;
    align-items: center;
  }
  .right-navbar {
    display: flex;
    padding-right: 3em;
    gap: 2em;
    align-items: center;
  }
  ///logo

  /* Style the rainbow text element. */
  .rainbow-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1.7em;
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #ca4246;
    background-color: #ca4246;
    background: conic-gradient(
      #ca4246 16.666%,
      #e16541 16.666%,
      #e16541 33.333%,
      #f18f43 33.333%,
      #f18f43 50%,
      #8b9862 50%,
      #8b9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #a7489b 83.333%
    );

    /* Set thee background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.5s ease forwards;

    cursor: pointer;
  }

  /* Add animation on hover. */
  .rainbow-text:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }

  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }

  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }

  .logo {
    transform: translate(0%, -8%);
  }

  /*effect-underline*/
  .effect-underline {
    position: relative;
    padding: 2px;
    transition: 0.2s;
  }

  .effect-underline::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2.5px;
    left: 50%;
    position: absolute;
    background: #16a085;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .effect-underline:hover::after {
    width: 100%;
    left: 0;
  }

  //
  .icon-crown-nav {
    font-size: 15px;
    transform: rotate(45deg);
    margin-bottom: 1em;
    color: #cc5500;
  }

  ////// responsive
  .bars {
    display: none;
  }
  @media screen and (max-width: 480px) {
    font-size: medium;
    padding-left: 0em;
    .pc {
      display: none;
    }
    .right-navbar {
      display: none;
    }
    .bars {
      display: block;
    }
    .posts-button {
      display: none;
    }
  }

  // sliding menu css
  @mixin transition {
    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        transition: transform
          1s
          #{$i *
          0.08}s
          cubic-bezier(0.29, 1.4, 0.44, 0.96);
      }
    }
  }

  @mixin alpha-attribute($attribute, $color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 50vw;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  $main: #1184f0;
  $text: #fefefe;
  $contrast: darken($main, 30%); // độ sáng tối của màu nền
  .drawer-list {
    // transform: translate(-50%, -50%);
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh; // chiều dài slide menu
    width: 50vw;
    transform: translate(100vw, 0);
    /* ie workaround */
    -ms-transform: translatex(-100vw);
    box-sizing: border-box;
    pointer-events: none;
    padding-top: 125px;
    transition: width 475ms ease-out, transform 450ms ease,
      border-radius 0.8s 0.1s ease;
    border-bottom-left-radius: 100vw;
    @include alpha-attribute('background-color', rgba($contrast, 0.8), white);
    @media (min-width: 768px) {
      width: 30vw;
    }

    ul {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: auto;
      overflow-x: hidden;
      pointer-events: auto;
    }
    li {
      list-style: none;
      text-transform: uppercase;
      pointer-events: auto;
      white-space: nowrap;
      box-sizing: border-box;
      transform: translatex(100vw);
      /* ie workaround */
      -ms-transform: translatex(-100vw);
      &:last-child {
        margin-bottom: 2em;
      }
      a {
        text-decoration: none;
        color: $text;
        text-align: center;
        display: block;
        padding: 1rem;
        font-size: calc(24px - 0.5vw); // cỡ chữ các tab
        @media (min-width: 768px) {
          text-align: right;
          padding: 0.5rem;
          font-size: calc(27px - 0.5vw); // cỡ chữ các tab
        }
        @media screen and (max-width: 480px) {
          font-size: calc(20px - 0.5vw); // cỡ chữ các tab
        }
        &:hover {
          cursor: pointer;
          @include alpha-attribute('background-color', rgba($main, 0.5), white);
        }
      }
    }
  }

  input.hamburger {
    display: none;
    &:checked {
      & ~ .drawer-list {
        transform: translatex(0);
        border-bottom-left-radius: 0;
        li {
          transform: translatex(0);
          @include transition;
          a {
            padding-right: 15px;
          }
        }
      }
      & ~ label {
        > i {
          background-color: transparent;
          transform: rotate(90deg);
          &:before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
        close {
          color: $text;
          width: 100%;
        }
        open {
          color: rgba(0, 0, 0, 0);
          width: 0;
        }
      }
    }
  }

  label.hamburger {
    z-index: 9999;
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    @media screen and (max-width: 480px) {
      height: 80px;
      width: 35px;
      margin-right: 1em;
    }
    &:hover {
      cursor: pointer;
    }
    text {
      close,
      open {
        text-transform: uppercase;
        font-size: 0.8em;
        align-text: center;
        position: absolute;
        transform: translateY(50px);
        text-align: center;
        overflow: hidden;
        transition: width 0.25s 0.35s, color 0.45s 0.35s;
        @media screen and (max-width: 480px) {
          font-size: 0em;
        }
      }
      close {
        color: rgba(0, 0, 0, 0);
        right: 0;
        width: 0;
      }
      open {
        color: $text;
        width: 100%;
      }
    }
    > i {
      position: absolute;
      width: 100%; // kích thước dấu x close
      height: 2.5px;
      top: 50%;
      background-color: white;
      pointer-events: auto;
      transition-duration: 0.35s;
      transition-delay: 0.35s;
      &:before,
      &:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 2.5px;
        left: 50%;
        background-color: #cc5500;
        content: '';
        transition: transform 0.35s;
        transform-origin: 50% 50%;
      }
      &:before {
        transform: translate(-50%, -14px);
      }
      &:after {
        transform: translate(-50%, 14px);
      }
    }
  }

  /**
      SCROLLBAR STYLE FOR IE
  */

  body {
    scrollbar-base-color: rgb(19, 138, 114);
    scrollbar-3dlight-color: #fff;
    scrollbar-highlight-color: #1abc9c;
    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #1abc9c;
    scrollbar-shadow-color: #1abc9c;
    scrollbar-dark-shadow-color: #1abc9c;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
