html,
body {
  background: hsl(210deg, 30%, 8%);
  padding: 0;
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  min-width: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

/////////////////@at-root
.component {
  color: aqua;
}

// main color:  #cc5500;
