.wrap-footer {
  margin-top: 5em;
  padding: 3em 9em 3em 9em;
  display: flex;
  justify-content: space-between;
}
.name-owner {
  font-size: xx-large;
  font-weight: bolder;
}
.thanks-text {
  font-size: 14px;
  font-weight: 500;

  color: hsl(0deg, 0%, 100%);
}

.lisence {
  margin-top: 5em;
  color: #9ca8b4;
}
.social {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  color: #9ca8b4;
  a:hover,
  a:focus,
  a:active {
    color: #cc5500;
  }
}
.contact {
  font-weight: bolder;
}
.icon-crown {
  color: #cc5500;

  transform: rotate(45deg);
  margin-bottom: 1em;
  font-size: medium;
}
