h1 {
  text-align: center;
  color: white;
  margin-bottom: 2em;
}

.all-posts {
}
.single-post {
  display: flex;

  //   flex-wrap: wrap;
  align-content: space-between;
  padding: 0em 1em 3em 0.5em;
  max-width: 80%;
  margin-left: 9em;
  text-align: justify;
  text-justify: inter-word;
}

.right-text {
  // display: flex;
  // flex-direction: column;
  padding-left: 2em;
  p {
    color: aliceblue;
  }
  .author {
    color: rgb(8, 114, 100);
    font-weight: bolder;
    margin-top: 1em;
  }
  max-width: 70%;
}

.img-post {
  border-radius: 10px;
}

/// one post css
article {
  max-width: 80%;
  margin-left: 9em;
  text-align: justify;
  text-justify: inter-word;
  img {
    text-align: center;
    border-radius: 10;
  }
}
