h1 {
  text-align: center;
  color: white;
  margin-bottom: 2em;
}

.all-posts {
  display: block;
  margin: auto; // auto centre block
  width: 80%;
  .single-post {
    display: flex;
    align-content: space-between;
    padding: 0em 1em 3em 0.5em;
  }

  .right-text {
    padding-left: 2em;
    text-align: justify;
    text-justify: inter-word;
    p {
      color: aliceblue;
    }
    .author {
      color: rgb(8, 114, 100);
      font-weight: bolder;
      margin-top: 1em;
    }
    max-width: 70%;
  }

  .img-post {
    border-radius: 10px;
    max-width: 30%;
  }

  @media screen and (max-width: 480px) {
    .single-post {
      display: flex;
      flex-direction: column;
      .right-text {
        padding-left: 0;
        max-width: 100%;
      }
    }
  }
}

// one post css / dont delete
article {
  margin: auto;
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
  img {
    display: block;
    margin: auto;
    width: 50%;
  }
  @media screen and (max-width: 480px) {
    img {
      text-align: center;
      border-radius: 10;
      width: 100%;
      height: auto;
    }
  }
}
